header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*   padding: 0 145px; */
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
  background: rgba(255, 255, 255, 1);
}

.logo img {
  width: 216px;
  height: auto;
}

header nav ul li a {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.nav-menu-desktop .menu-header-container .header-menu {
  display: flex;
  gap: 45px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.menu-bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  transition: 0.3s;
}

/* Styles pour le menu actif */
.menu-toggle.menu-active .menu-bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.menu-active .menu-bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.menu-active .menu-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (min-width: 769px) {
  .nav-menu-mobile {
    display: none;
  }

  .menu-toggle {
    display: none;
  }
}

/* Styles spécifiques pour les appareils mobiles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    /* Affiche le bouton sur les appareils mobiles */
  }

  .nav-menu-desktop {
    display: none;
    /* Masque le menu desktop sur les appareils mobiles */
  }

  .nav-menu-mobile {
    display: none;
    /* Masqué par défaut, s'affiche lorsqu'activé */
    width: 100%;
    height: 100%;
    background: rgba(224, 0, 0, 1);
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 99;
  }

  .nav-menu-mobile .menu-header-container {
    width: 100%;
    height: 100%;
  }

  .nav-menu-mobile.menu-active {
    display: flex;
    /* Affiche le menu mobile lorsqu'il est actif */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-menu-mobile .header-menu {
    width: 100%;
    height: 100%;
    background: rgba(224, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }

  .nav-menu-mobile .header-menu li.menu-item a {
    font-family: 'Space Mono', monospace;
    font-size: 44px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }
}