.photo-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  margin-top: 35px;
}

.photo-container-details {
  width: 50%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.photo-details {
  display: flex;
  position: relative;
  width: min-content;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 30px;
}

.featured-image {
  width: 50%;
}

.nav-single-photo {
  width: 100%;
  height: 118px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.nav-contact {
  min-width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.CTA {
  width: 272px;
  height: 50px;
  padding: 8px 15px;
  border: 0;
  border-radius: 2px;
  gap: 10px;
  background: rgba(216, 216, 216, 1);
  font-family: Space Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}

.CTA:hover {
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
}

.nav-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
}

.nav-card-photo {
  width: 81px;
  height: 71px;
}

.nav-card-photo img {
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  background-position: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-arrow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.category-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 50px 0;
  align-items: center;
}

.category-nav h3 {
  width: 100%;
}

.card-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.photo-card {
  width: 49%;
  height: auto;
  min-height: 280px;
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

.img-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-thumb {
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: center;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 0;
}

.photo-card:hover .overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

a.topRightIcon {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

a.topRightIcon img {
  width: 34px;
  height: 34px;
  margin: 0;
  padding: 0;
}

.photo-card:hover a.topRightIcon {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.midlleIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p.left {
  position: absolute;
  display: none;
  left: 10px;
  bottom: 10px;
  color: rgba(255, 255, 255, 1);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.photo-card:hover p.left {
  display: block;
}

a.right {
  position: absolute;
  display: none;
  right: 10px;
  bottom: 10px;
  color: rgba(255, 255, 255, 1);
  font-family: Space Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: right;
  z-index: 2;
}

.photo-card:hover a.right {
  display: block;
}

.footer-card {
  position: absolute;
  display: none;
  width: 100%;
  height: fit-content;
  bottom: 0;
}

.photo-card:hover .footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

a.linkCard {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}

.footer-card a {
  color: rgba(255, 255, 255, 1);
  z-index: 2;
}

/* Requête média pour les petits écrans */
@media (max-width: 768px) {

  .photo-container-details {
    border-bottom: 0px solid rgba(0, 0, 0, 0);
  }

  .nav-single-photo {
    border-top: 1px solid rgba(0, 0, 0, 1);
  }

  #go-all-photos,
  .nav-card {
    display: none;
  }

  .photo-container {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0 10%;
  }

  .photo-container-details,
  .featured-image {
    width: auto;
  }

  .nav-contact {
    width: 100%;
    display: flex;
    padding: 0 10%;
    gap: 15px;
  }

  .CTA {
    width: 100%;
  }

  .category-nav h3 {
    width: auto;
    text-align: center;
  }

  .category-nav {
    padding: 50px 30px;
  }

  .card-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .photo-card {
    width: 100%;
    height: 100%;
  }

  .img-container {
    width: 100%;
    min-width: 317px;
    height: 278px;
  }
}